@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  .top-line {
    justify-content: space-around;
  }
  .contacts-list {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .top-left {
    gap: 15px;
  }
  .top-right {
    gap: 15px;
  }
  .header-list {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header-nav {
    justify-content: space-around;
  }
  .header-logo-link {
    font-size: 36px;
  }
  .header-list {
    display: flex;
    gap: 10px;
  }
  .header-item-link {
    font-size: 14px;
    text-transform: uppercase;
    color: var(--gray);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-item-link:hover,
  .header-item-link:focus {
    color: var(--white);
    background-color: #1f1f1f;
    padding: 23px 18px;
  }
  .header-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  .hero {
    padding: 120px 0;
  }
  .hero-wrap {
    width: 320px;
    height: 320px;
    border: 4px solid var(--white);
    padding: 93px 110px;
  }
  .hero-title {
    font-size: 64px;
  }
  .line-hero {
    width: 179px;
    margin: 7px 4px;
  }
  .hero-subtitle {
    font-size: 22px;
    white-space: nowrap;
  }
  .hero-text {
    font-size: 16px;
    margin-top: 80px;
  }
  /* .season {
    padding: 93px 0;
  } */
  .season-wrap {
    padding: 45px 40px;
  }
  .swiper {
    display: none;
  }
  .season-title {
    font-size: 36px;
  }
  .season-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .season-img-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  .season-img-item img {
    background-color: #191b1c;
  }
  .swiper-img-content {
    padding-top: 25px;
  }
  .swiper-clock-title {
    margin-bottom: 10px;
  }
  .new-collection-content {
    padding: 435px 47px 40px;
  }
  .new-collection-title {
    font-size: 36px;
  }
  .new-collection-line {
    width: 120px;
  }
  .new-collection-link {
    font-size: 18px;
    padding: 12px 28px;
  }
  .collection {
    padding: 30px 0;
  }
  .collection-content-title {
    font-size: 36px;
  }
  .collection-content-line {
    width: 120px;
  }
  .collection-content-text {
    font-size: 14px;
    line-height: 150%;
  }
  .collection-content-btn {
    font-size: 18px;
  }
  .arrivals-title {
    font-size: 36px;
  }
  .arrivals-line {
    width: 120px;
    margin: 30px 0;
  }
  .arrivals-img-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px 23px;
  }
  .arrivals-img-item img {
    background-color: #191b1c;
  }
  .arrivals-img-item {
    width: calc((100% - 23px) / 2);
    max-width: 260px;
  }
  .arrivals-img-content {
    padding-top: 25px;
  }
  .swipe-btn-wrap {
    top: 834%;
    left: 54%;
  }
  .swipe-link {
    font-size: 18px;
  }
}
